ul {
    list-style: none;
}

.errorlist {
    color: red;
}

@media screen and (max-width: 600px) {
    label {
        text-align: left;
    }
}

@media screen and (min-width: 601px) {
    label {
        text-align: right;
    }
}