{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    登录
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/account/account.css' %}">
{% endblock %}

{% block main %}
    {% if user.is_authenticated %}
        <div class="grid-container">
            <div class="grid-y grid-frame align-center-middle">
                <div class="cell small-9 medium-6 text-center">
                    <h1>欢迎&nbsp;{{ request.user.username }}</h1>
                    <h1>请<a href="{% url 'dashboard:dashboard' %}">进入首页</a>或<a href="{% url 'logout' %}?next={{ request.path }}">登出</a></h1>
                </div>
            </div>
        </div>
    {% else %}
        <div class="grid-container">
            <div class="grid-y grid-frame align-center-middle">
                <div class="cell small-10 medium-6">
                    <div class="grid-x align-center-middle text-center">
                        <h1>登&nbsp;录</h1>
                    </div>
                    <form action="." method="post">
                        {% for field in form %}
                            <div class="grid-x align-center-middle text-center">
                                <div class="cell small-10 medium-5 large-4">
                                    {{ field.label_tag }}
                                </div>
                            </div>
                            <div class="grid-x align-center-middle text-center">
                                <div class="cell small-10 medium-5 large-4">
                                    {{ field }}
                                </div>
                            </div>
                            <div class="grid-x align-center-middle text-center">
                                <div class="cell small-10 medium-5 large-4">
                                    {{ field.errors }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="grid-x align-center-middle text-center">
                            <div class="cell small-10 medium-5 large-4">
                                {{ form.non_field_errors }}
                            </div>
                        </div>
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
                        <div class="grid-x align-center-middle text-center">
                            <div class="cell small-10 medium-5 large-4">
                                <button type="submit" class="button">登录</button>
                                <p>还没有账号？请<a href="{% url "account:register" %}">注册新用户</a></p>
                                <p>首次登录系统请<a href="mailto:lee0709@vip.sina.com">联系管理员</a>激活账号</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}




{% block js_code %}
    <script src="{% static 'js/account/login.js' %}">
    </script>
{% endblock %}