{% extends 'base/base.html' %}
{% load contracts_tag %}
{% block title %}
    搜索结果
{% endblock %}

{% block nav %}
    {% include 'base/nav.html' %}
{% endblock %}

{% block main %}
    <div class="grid-container fluid full">
        <div class="grid-x">
            {#侧边栏部分,采用Accordion样式菜单#}
            <div class="cell large-2 text-center">
                <ul class="accordion" data-accordion data-allow-all-closed="true">
                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title rem-1">合同种类</a>
                        <div class="accordion-content" data-tab-content>
                            <a href="{% url 'contracts:contract_list' %}">全部</a>
                            {% for subject in subjects %}
                                <hr class="hide-for-small-only">
                                <br class="show-for-small-only">
                                <a href="{% url 'contracts:contract_list_subject' subject.id %}">{{ subject.full_name }}</a>
                            {% endfor %}
                        </div>
                    </li>

                    <li class="accordion-item" data-accordion-item>
                        <a href="/" class="accordion-title rem-1">可用操作</a>
                        <div class="accordion-content" data-tab-content>
                            <a href="{% url 'contracts:contract_add' %}">新增合同</a>
                        </div>
                    </li>
                </ul>
            </div>
            {#主体部分,采用表格#}
            <div class="cell large-10 ">
                <div class="grid-x grid-padding-x text-center">
                    <div class="cell">
                        {% if contracts.count %}
                            <h1><span class="primary-color">“{{ search }}”</span>&nbsp;搜索结果
                            </h1>
                                <table class="responsive-card-table unstriped">
                                <thead>
                                <tr>
                                    <th class="text-center">索引</th>
                                    <th class="text-center"><span data-tooltip tabindex="1" title="点击合同查看详情">合同名称</span>
                                    </th>
                                    <th class="text-center">供应商名称</th>
                                    <th class="text-center">合同金额</th>
                                    <th class="text-center">决算金额</th>
                                    <th class="text-center"><span data-tooltip tabindex="2"
                                                                  title="点击金额查看请款详情">请款金额</span></th>
                                    <th class="text-center">请款比例</th>
                                    <th class="text-center"><span data-tooltip tabindex="2"
                                                                  title="点击金额查看付款详情">付款金额</span></th>
                                    <th class="text-center">付款比例</th>
                                    <th class="text-center hide-for-small-only">签订时间</th>
                                    <th class="text-center" >有效</th>
                                    <th class="text-center" >入成本</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for contract in contracts %}

                                    <tr>
                                        <td data-label="索引" class="text-center hide-for-large">{{ contract.index }}</td>
                                        <td data-label="索引" class="text-left show-for-large">{{ contract.index }}</td>
                                        <td data-label="合同名称"><a
                                                href="{{ contract.get_absolute_url }}">{{ contract.name }}</a></td>
                                        <td data-label="供应商名称">{{ contract.supplier }}</td>
                                        <td data-label="合同金额">{{ contract.amount|comma }}</td>
                                        <td data-label="决算金额">
                                            {% if contract.definite %}{{ contract.definite|comma }}{% endif %}</td>
                                        <td data-label="请款金额"><a href="{% url 'requisitions:req_detail' contract.id %}">
                                            {% if contract.total_requisition %}
                                                {{ contract.total_requisition|comma }}{% endif %}</a></td>
                                        <td data-label="请款比例">
                                            {% if contract.requisition_rate %}{% if contract.requisition_rate > 1 %}
                                                <span class="alert-color"><i class="fi-alert"></i></span>{% endif %}
                                                {{ contract.requisition_rate|rate }}{% endif %}</td>
                                        <td data-label="付款金额"><a href="{% url 'payments:payment_detail' contract.id %}">
                                            {% if contract.total_payment %}
                                                {{ contract.total_payment|comma }}{% endif %}</a></td>
                                        <td data-label="付款比例">
                                            {% if contract.payment_rate %}{% if contract.payment_rate > 1 %}
                                                <span class="alert-color"><i class="fi-alert"></i></span>{% endif %}
                                                {{ contract.payment_rate|rate }}{% endif %}</td>
                                        <td data-label="签订时间"
                                            class="hide-for-small-only">{{ contract.sign|date:"Y-m-d" }}</td>
                                        <td data-label="有效">
                                            {% if contract.active %} <i class="fi-check success-color"></i>
                                            {% else %}<i class="fi-x alert-color"></i>
                                            {% endif %}
                                        </td>
                                        <td data-label="有效">{% if contract.is_cost %} <i class="fi-check success-color"></i>
                                        {% else %}<i class="fi-x alert-color"></i>
                                        {% endif %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        {% else %}
                            <h1>未找到任何合同</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}