{% extends 'base/base.html' %}
{% load static %}
{% load contracts_tag %}
{% block title %}
    新增合同
{% endblock %}

{% block head %}
    <style>
        body {
            background-color: #f0f0f0;
        }
    </style>
{% endblock %}

{% block nav %}
    {% include 'base/nav.html' %}
{% endblock %}

{% block main %}
    <form action="." method="post">
        <div class="grid-container">
            <h1 class="text-center">{% if contract %}新增<span class="primary-color">{{ contract.name }}</span>
                的补充合同{% else %}新增合同{% endif %}</h1>
            {% for field in form %}
                <div class="grid-x align-center-middle grid-padding-x ">
                    <div class="cell small-10 medium-3 medium-text-right">
                        {{ field.label_tag }}
                    </div>
                    <div class="cell small-10 medium-6">
                        {{ field }}
                    </div>
                    <div class="cell small-10 medium-3 text-center">
                        {{ field.errors }}
                    </div>
                </div>
            {% endfor %}
            <div class="grid-x align-center">
                <div class="cell small-10 text-center">
                    {{ form.non_field_errors }}
                </div>
            </div>
            {% csrf_token %}
            <input type="hidden" name="master" value="{{ contract.id }}">
            <div class="grid-x align-center">
                {% if contract.is_supple %}
                    <div class="cell">
                        <p class="alert-color text-center">不能为补充合同添加补充合同</p>
                    </div>
                {% else %}
                    <div class="cell">
                        <p class="alert-color text-center">合同类别提交后无法修改，录入错误请立刻<a href="#">联系管理员</a></p>
                    </div>
                {% endif %}

                <input type="submit" class="button" value="提交" {% if contract.is_supple %}disabled{% endif %}>
            </div>
        </div>
    </form>
{% endblock %}

{% block js_code %}
    <script src="{% static 'js/contracts/contract_form.js' %}"></script>
{% endblock %}