/*背景色*/
/*body {*/
    /*background-color: #f3f3f3;*/
/*}*/

/*消息模块样式*/
.message {
    position: fixed;
    bottom:-16px;
    /*right: 0;*/
}

.message p {
    margin-bottom: 0;
}

.message button {
    display: inline-block;
    line-height: 0.8;
}
/*消息模块样式结束*/

/*card增加阴影*/
.shadow
{
box-shadow: 1px 1px 3px 1px #aaaaaa;
}

/*修正首页使用的字体*/
.card .label{
    font-size: 1em;
}

/*字体大小*/
.rem-1 {
    font-size: 1rem!important;
  }

/*手风琴列表的hr长度*/
.accordion-content hr {
    margin-bottom: 10px;
    margin-top: 10px;
}

/*颜色系列*/
.primary-color {
    color:#1779ba!important;
}

.success-color {
    color:#3adb76!important;
}

.alert-color {
    color: #cc4b37!important;
}

.warn-color {
    color: #ffae00!important;
}

/*所有表单错误信息*/
form ul.errorlist {
    list-style: none;
    color: #cc4b37;
}

/*响应式表格，来自Foundation 6 官网 building block*/
.responsive-card-table {
  border-collapse: collapse;
}

.responsive-card-table.unstriped tbody {
  background-color: transparent;
}

.responsive-card-table th {
  background-color: #e6e6e6;
}

.responsive-card-table tr,
.responsive-card-table th,
.responsive-card-table td {
  border: 1px solid #0a0a0a;
}

@media screen and (max-width: 640px) {
  .responsive-card-table {

  }
  .responsive-card-table thead tr {
    position: absolute;
    top: -9999em;
    left: -9999em;
  }
  .responsive-card-table tr {
    border: 1px solid #0a0a0a;
    display: block;
  }
  .responsive-card-table tr + tr {
    margin-top: 1.5rem;
  }
  .responsive-card-table td {
    border: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #0a0a0a;
    padding-left: 50%;
    position: relative;
  }
  .responsive-card-table td:before {
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    margin-left: -100%;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .responsive-card-table td:after {
    content: '';
    position: absolute;
    background: #e6e6e6;
    width: 45%;
    height: 95%;
    left: 1px;
    top: 1px;
    z-index: 0;
  }
}
