{% extends 'base/base.html' %}
{% load contracts_tag %}
{% block title %}
    非合同付款列表
{% endblock %}

{% block nav %}
    {% include 'base/nav.html' %}
{% endblock %}

{% block main %}
    <div class="grid-container fluid full">
        <div class="grid-x">
            {#侧边栏部分,采用Accordion样式菜单#}
            <div class="cell large-2 text-center">
                <ul class="accordion" data-accordion data-allow-all-closed="true">
                    <li class="accordion-item " data-accordion-item>
                        <a href="#" class="accordion-title rem-1">种类</a>
                        <div class="accordion-content" data-tab-content>
                            <a href="{% url 'minors:minor_list' %}">全部</a>
                            {% for subject in subjects %}
                                <hr class="hide-for-small-only">
                                <br class="show-for-small-only">
                                <a href="{% url 'minors:minor_list_by_subject' subject.id %}">{{ subject.full_name }}</a>
                            {% endfor %}
                        </div>
                    </li>

                    <li class="accordion-item" data-accordion-item>
                        <a href="/" class="accordion-title rem-1">新增非合同记录</a>
                        <div class="accordion-content" data-tab-content>
                            <form action="{% url 'minors:minor_add' %}" method="post">
                                <div class="grid-container">
                                    {% for field in form %}
                                        <div class="grid-x align-center-middle grid-padding-x ">

                                            <div class="cell small-10 medium-4 medium-text-right">
                                                {{ field.label_tag }}
                                            </div>
                                            <div class="cell small-10 medium-8">
                                                {{ field }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="grid-x align-center">
                                        <div class="cell small-10 text-center">
                                            {{ form.non_field_errors }}
                                        </div>
                                    </div>
                                    {% csrf_token %}

                                    <div class="grid-x align-center">
                                        <input type="submit" class="button" value="提交">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
            {#主体部分,采用表格#}
            <div class="cell large-10 ">
                <div class="grid-x grid-padding-x text-center">
                    <div class="cell">
                        {% if directcosts.count %}
                            <h1><span class="primary-color">{% if subject %}{{ subject.name }}{% endif %}</span>非合同付款列表
                            </h1>

                            <table class="responsive-card-table unstriped">
                                <thead>
                                <tr>
                                    <th class="text-center">序号</th>
                                    <th class="text-center">名称</th>
                                    <th class="text-center">金额</th>
                                    <th class="text-center">付款单位</th>
                                    <th class="text-center">请款金额</th>
                                    <th class="text-center">付款金额</th>
                                    <th class="text-center">类别</th>
                                    <th class="text-center">备注</th>
                                    <th class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for directcost in directcosts %}

                                    <tr>
                                        <td data-label="序号">{{ forloop.counter }}</td>
                                        <td data-label="名称">{{ directcost.name }}</td>
                                        <td data-label="金额"><a href="{% url 'minors:minor_edit' directcost.id %}">{{ directcost.amount|comma }}</a></td>
                                        <td data-label="付款单位">{{ directcost.supplier }}</td>
                                        <td data-label="请款金额"><a href="{% url 'minors:req_list' directcost.id %}">{{ directcost.total_reqs|comma }}</a></td>
                                        <td data-label="付款金额"><a href="{% url 'minors:pay_list' directcost.id %}">{{ directcost.total_pays|comma }}</a></td>
                                        <td data-label="类别">{{ directcost.subject.name }}</td>
                                        <td data-label="备注">{{ directcost.text }}</td>
                                        <td data-label="操作">
                                            <a href="{% url 'minors:req_list' directcost.id %}">请款</a>
                                            <a href="{% url 'minors:pay_list' directcost.id %}">付款</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <h1><span class="primary-color">{% if subject %}{{ subject.name }}{% else %}
                                全部{% endif %}</span>类别下无任何非合同付款记录</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}