{% extends 'base/base.html' %}

{% block nav %}
    {% include 'base/nav-dashboard.html' %}
{% endblock %}

{% block title %}
    合同管理系统
{% endblock %}

{% block main %}
    <div class="grid-container">
        <h2 class="text-center">快速开始</h2>
        <hr>
        <h3><i class="fi-folder-add" style="color:#1779ba;">&nbsp;</i>合同信息</h3>
        <div class="grid-x medium-up-1 large-up-3 grid-margin-x" data-equalizer>
            <div class="cell ">
                <div class="card shadow" data-equalizer-watch>
                    <div class="card-divider">
                        <span class="badge primary">1</span><span>&nbsp;&nbsp;录入新合同信息</span>
                    </div>

                    <div class="card-section">
                        <h4>新合同</h4>
                        <p class="h6">进入<a href="#">合同管理</a>页，点击左侧菜单中<span class="h5 label">新增合同</span>，之后录入新合同信息</p>
                        <hr>
                        <h4>补充协议</h4>
                        <p>通过搜索或在<a href="">合同管理</a>页找到合同，点击合同名进入详情页，点击<span class="label">为当前合同添加补充合同</span></p>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="card shadow" data-equalizer-watch>
                    <div class="card-divider">
                        <span class="badge primary">2</span><span>&nbsp;&nbsp;修改合同信息</span>
                    </div>
                    <div class="card-section">
                        <h4>修改合同</h4>
                        <p>进入<a href="#">合同管理</a>页找到合同，点击合同名进入详情页，点击<span class="label">修改合同</span></p>
                        <p>可以搜索供应商或合同名称快速找到合同</p>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="card shadow" data-equalizer-watch>
                    <div class="card-divider">
                        <span class="badge primary">3</span><span>&nbsp;&nbsp;注意事项</span>
                    </div>
                    <div class="card-section">
                        <h4>录入与修改</h4>
                        <p>合同的<a class="alert-color">种类</a>必须录入正确</p>
                        <p class="alert-color">不支持为补充合同再添加补充合同</p>
                        <p>推荐使用CHROME浏览器</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_code %}
{% endblock %}