{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    注册
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/account/account.css' %}">
    <style>

    </style>
{% endblock %}


{% block main %}
    {% if user.is_authenticated %}
        <div class="grid-container">
            <div class="grid-y grid-frame align-center-middle">
                <div class="cell small-9 medium-6 text-center">
                    <h1>你已登录，请<a href="{% url 'logout' %}?next={{ request.path }}">登出</a>后注册新用户或<a href="{% url 'dashboard:dashboard' %}">返回首页</a></h1>
                </div>
            </div>
        </div>
    {% else %}
        <div class="grid-container">
            <div class="grid-y grid-frame align-center-middle">
                <div class="cell small-10 medium-6">
                    <div class="grid-x align-center-middle text-center">
                        <h1>注册新用户</h1>
                    </div>
                    <form action="." method="post">
                        {% for field in form %}
                            <div class="grid-x align-center-middle text-center">
                                <div class="cell small-10 medium-5 large-4">
                                    {{ field.label_tag }}
                                </div>
                            </div>
                            <div class="grid-x align-center-middle text-center">
                                <div class="cell small-10 medium-5 large-4">
                                    {{ field }}
                                </div>
                            </div>
                            <div class="grid-x align-center-middle text-center">
                                <div class="cell small-10 medium-5 large-4">
                                    {{ field.errors }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="grid-x align-center-middle text-center">
                            <div class="cell small-10 medium-5 large-4">
                                {{ field.label_tag }}
                            </div>
                        </div>
                        {% csrf_token %}
                        <div class="grid-x align-center-middle text-center">
                            <div class="cell small-10 medium-5 large-4">
                                <button type="submit" class="button">注册</button>
                                <p>已有账号？去<a href="{% url 'login' %}?next={{ request.path }}">登录</a></p>
                                <p class="show-for-small-only">注册成功后跳转登录页面，请联系管理员激活账号</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}


{% endblock %}

{% block js_code %}
        <script src="{% static 'js/account/resigter.js' %}"></script>

{% endblock %}