{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    注册
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/account/account.css' %}">
{% endblock %}


{% block main %}
    {% if user.is_authenticated %}
        <div class="container">
            <h1 class="text-center p-2">您已登录,请先<a href="{% url 'logout' %}?next={{ request.path }}">登出</a>后注册新用户</h1>
        </div>

    {% else %}
        <div class="container">
            <h1 class="text-center p-2">新用户注册</h1>
            <div class="columns text-center">
                <div class="column col-sm-10 col-md-7 col-lg-6 col-xl-5 col-4 col-mx-auto">
                    <form action="." method="post" class="form-horizontal">
                        {{ form.non_field_errors }}
                        {% for field in form %}
                            <div class="form-group">
                                <div class="col-3 col-sm-12">
                                    {{ field.label_tag }}
                                </div>
                                <div class="col-6 col-sm-12">
                                    {{ field }}
                                </div>
                                {{ field.errors }}
                            </div>
                        {% endfor %}
                        {% csrf_token %}
                        <input type="submit" value="注册" class="btn btn-primary m-2">
                    </form>
                </div>
            </div>
            <div class="columns text-center">
                <div class="column col-sm-10 col-md-7 col-lg-6 col-xl-5 col-4 col-mx-auto">
                    <span class="letter-spacing">已经有账户?&nbsp;去<a href="{% url 'login' %}?next={{ request.path }}">登录</a></span>
                </div>
            </div>
        </div>
    {% endif %}


{% endblock %}

{% block js_code %}
    <script src="{% static 'js/resigter.js' %}">
    </script>
{% endblock %}