{% load static %}
<div class="grid-container ">
    <div class="grid-x grid-padding-x grid-padding-y align-center-middle">
        <div class="cell text-center ">
            <h5>All rights reserved 2018 &copy; <a href="http://conyli.cc" target="_blank">http://conyli.cc</a></h5>
        </div>
        <div class="cell medium-6 medium-text-right text-center">
            <h5><a href="mailto:lee0709@vip.sina.com"><i class="fi-mail"></i>&nbsp;联系开发者</a></h5>
        </div>
        <div class="cell medium-6 hide-for-small-only">
            <img src="{% static 'img/contact_me.png' %}" width="60" alt="微信">
        </div>
    </div>
</div>