{% load static %}
<div class="grid-container ">
    <div class="grid-x grid-padding-x grid-padding-y align-center-middle">
        <div class="cell medium-6 hide-for-small-only">
            <div class="rounded-social-buttons">
                <a class="social-button qq" href="http://wpa.qq.com/msgrd?v=3&uin=94722898&site=qq&menu=yes" target="_blank"></a>
                <a class="social-button mail" href="mailto:lee0709@vip.sina.com"></a>
                <a class="social-button github" href="https://github.com/minkolee"></a>
                <a class="social-button twitter" href="https://twitter.com/LeeMinko"></a>
                <a class="social-button google-plus" href="https://plus.google.com/110788260246382737905"></a>
            </div>
        </div>
        <div class="cell text-center ">
            <h5>All rights reserved 2018 &copy; <a href="http://conyli.cc" target="_blank">http://conyli.cc</a></h5>
        </div>
    </div>
</div>