{% for message in messages %}
                <div class="message hide-for-small-only">
                    <div class="callout small {% if message.tags %}{{ message.tags }}{% endif %}"
                         data-closable>
                        <p>{{ message|safe }}</p>
                        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
{% endfor %}