{% for message in messages %}
{#    <div class="">#}
        <div class="grid-container ">
            <div class="grid-x align-center">
                <div class="cell small-9 medium-5 message hide-for-small-only">
                    <div class="callout small {% if message.tags %}{{ message.tags }}{% endif %}"
                         data-closable="slide-out-right">
                        <p>{{ message|safe }}</p>
                        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
{#    </div>#}
{% endfor %}