<!-- Start Top Bar -->
<div class="title-bar" data-responsive-toggle="mainNavigation" data-hide-for="medium"
     style="background-color: #5e5e5e;">
    <div class="title-bar-left">
        <button class="menu-icon" type="button" data-toggle="mainNavigation"></button>
        <div class="title-bar-title">合同管理系统</div>
    </div>
    <div class="title-bar-right">

    </div>
</div>

<div class="top-bar" id="mainNavigation">
    <div class="top-bar-left">
        <ul class="menu vertical medium-horizontal">
            <li class="hide-for-small-only"><span class="badge"><a href="{% url 'dashboard:dashboard' %}"
                                                                   style="color:white">ContractMS</a></span></li>
            <li><a href="{% url 'contracts:contract_list' %}">合同管理</a></li>
            <li><a href="#">请款管理</a></li>
            <li><a href="#">付款记录</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu vertical medium-horizontal">
            <li>
                <form action="#" method="post">
                    {% csrf_token %}
                    <button style="display: inline-block" type="submit" class="button"><i class="fi-magnifying-glass"></i></button>
                    <input style="display:inline;" name="search" type="search" placeholder="合同或供应商...">
                </form>
            </li>

            {% if user.is_authenticated %}
                <li class="menu-text hide-for-small-only">欢迎&nbsp;{{ user.username }}</li>
                <li><a href="{% url 'logout' %}?next={{ request.path }}">登出</a></li>
            {% else %}
                <li><a href="{% url 'login' %}?next={{ request.path }}">登录</a></li>
                <li><a href="{% url 'account:register' %}">注册</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<!-- End Top Bar -->