<div class="container p-2 ">
    <header class="navbar">
        <section class="navbar-section">
            <a href="#" class="btn btn-link text-primary mr-2 ml-2 ">合同管理</a>
            <a href="#" class="btn btn-link text-primary mr-2 ml-2 ">请款记录</a>
            <a href="#" class="btn btn-link text-primary mr-2 ml-2 ">付款记录</a>
            <a href="#" class="btn btn-link text-primary mr-2 ml-2 ">其他功能</a>
            <a href="#" class="btn btn-link text-primary mr-2 ml-2 ">关于系统</a>
        </section>


        <section class="navbar-section">
            <div class="input-group col-ml-auto">
                <input type="text" class="form-input" placeholder="施工...">
                <a href="#" class="btn btn-default input-group-btn"><i class="icon icon-search"></i></a>
            </div>
        </section>

        <section class="navbar-section">
            <div class="col-mx-auto">
                {% if user.is_authenticated %}
                    <span class="text-primary letter-spacing">欢迎&nbsp;{{ user.username }}</span>
                    <a href="{% url 'logout' %}?next={{ request.path }}" class="btn btn-link mr-2 ml-2">登出</a>
                {% else %}
                    <a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-link mr-2 ml-2">登录</a>
                {% endif %}
            </div>
        </section>
    </header>
</div>